In [7]:
COUNT = 220000
HOST ='54.200.77.93'
PORT = 5432
DATABASE ='postgres'
PASSWORD ='postgres'
USER ='postgres'
SEED = 42

In [20]:
query='''
    SELECT * 
    FROM madelon_data_1
    where madelon_data_1.yoda in ({});
    
'''.format('0')

In [25]:
import psycopg2
from psycopg2.extras import RealDictCursor # return column name as key and result as value
import pandas as pd

In [26]:
con = psycopg2.connect(database=DATABASE, port=PORT,user=USER, password=PASSWORD,host=HOST)
cur=con.cursor(cursor_factory=RealDictCursor)
cur.execute(query)
result = cur.fetchall()
con.close()

In [27]:
result[0]['yoda']

0

In [28]:
pd.DataFrame(result).set_index('yoda')

,feat_0000,feat_0001,feat_0002,feat_0003,feat_0004,feat_0005,feat_0006,feat_0007,feat_0008,feat_0009,...,feat_0615,feat_0616,feat_0617,feat_0618,feat_0619,feat_0620,feat_0621,feat_0622,feat_0623,feat_0624
yoda,,,,,,,,,,,,,,,,,,,,,
0,-6.89058,1.898045,-0.081773,-0.211159,-1.89961,0.602261,1.257378,1.106597,-0.911746,-0.378782,...,-0.549621,-0.482523,-0.308728,0.140235,-2.109784,0.712417,-1.693767,0.613437,0.114052,0.219454

In [32]:
def make_query(table_name,yoda_list):
    yoda_list=','.join([str(yoda) for yoda in yoda_list])
    
    query='''
            SELECT * 
            FROM {}
            where {}.yoda in ({});

            '''.format(table_name,table_name, yoda_list)
    
    return query

In [33]:
print(make_query('madelon_data_1',[0,1,2]))

            SELECT *
            FROM madelon_data_1
            where madelon_data_1.yoda in (0,1,2);

In [35]:
def query_table (table_name,yoda_list):
    query = make_query(table_name,yoda_list)
    con = psycopg2.connect(database=DATABASE, port=PORT,user=USER, password=PASSWORD,host=HOST)
    cur=con.cursor(cursor_factory=RealDictCursor)
    cur.execute(query)
    result = cur.fetchall()
    con.close()
    
    return pd.DataFrame(result).set_index(['yoda'])

In [42]:
TABLES = {i:'madelon_data_{}'.format(i) for i in range(1,9)}
TABLES

{1: 'madelon_data_1',
 2: 'madelon_data_2',
 3: 'madelon_data_3',
 4: 'madelon_data_4',
 5: 'madelon_data_5',
 6: 'madelon_data_6',
 7: 'madelon_data_7',
 8: 'madelon_data_8'}

In [43]:
## need a list of yodas
def get_data(yodas):
    dfs=[]
    for table in range(1,9):
        dfs.append(query_table(TABLES[table],yodas))
        
    merged = pd.concat(dfs, axis=1)
    return merged

In [44]:
test = get_data([1,2,3])

In [45]:
test

,feat_0000,feat_0001,feat_0002,feat_0003,feat_0004,feat_0005,feat_0006,feat_0007,feat_0008,feat_0009,...,feat_4990,feat_4991,feat_4992,feat_4993,feat_4994,feat_4995,feat_4996,feat_4997,feat_4998,feat_4999
yoda,,,,,,,,,,,,,,,,,,,,,
1,2.836983,0.468780,-3.557848,0.253684,1.493863,-0.616160,0.006989,0.576280,-0.694593,1.965929,...,0.127546,-0.804609,1.053465,-1.142528,-0.850633,-0.456611,-1.368771,-0.121254,1.839091,-0.385779
2,7.872049,-0.403441,-0.112700,1.381223,1.034884,0.902558,-0.788522,-0.135428,0.575735,-0.770869,...,0.001346,0.511870,0.011579,-1.631434,0.199908,-1.075231,-1.192241,0.235938,-0.707320,-0.088669
3,-1.306599,-0.126873,-1.776510,0.430761,0.428714,0.579034,-0.057546,-0.021347,-0.112300,-0.417874,...,-0.969493,-0.486911,0.510224,-0.525300,1.433065,0.514432,-0.874046,0.740881,0.551109,-0.955274

In [74]:
class project3tool(object):
    
    def __init__(self,
                    COUNT = 220000,
                    HOST = '54.200.77.93',
                    PORT = 5432,
                    DATABASE ='postgres',
                    PASSWORD ='postgres',
                    USER ='postgres',
                    SEED = 42):
        
        self.COUNT = COUNT
        self.HOST = HOST
        self.PORT = PORT
        self.DATABASE = DATABASE
        self.PASSWORD = PASSWORD
        self.USER = USER
        self.SEED = SEED
        self.TABLE = {i:'madelon_data_{}'.format(i) for i in range(1,9)}
        self.POSITION = 0
        
    def make_query(self, table_name, yoda_list):
        yoda_list=','.join([str(yoda) for yoda in yoda_list])

        query='''
                SELECT * 
                FROM {}
                where {}.yoda in ({});

                '''.format(table_name,table_name, yoda_list)
    
        return query

    def query_table (self, table_name, yoda_list):
        query = self.make_query(table_name,yoda_list)
        con = psycopg2.connect(database=DATABASE, 
                               port=PORT,user=USER, 
                               password=PASSWORD,
                               host=HOST)
        
        cur=con.cursor(cursor_factory=RealDictCursor)
        cur.execute(query)
        result = cur.fetchall()
        con.close()
        return pd.DataFrame(result).set_index(['yoda'])    


    def get_data(self, yodas):
        dfs=[]
        for table in range(1,9):
            dfs.append(self.query_table(TABLES[table],yodas))

        merged = pd.concat(dfs, axis=1)
        
        target= self.query_table('madelon_target',yodas)
        target = pd.DataFrame(target)
        
        return merged, target
    
    
    def load_sequential(self, n=100, position = None):
        if not position:
            pos = self.POSITION
        else:
            pos = position
        
        data, target = self.get_data(range(pos, pos+n))
        
        if not position:
            self.POSITION += n
            
        self.POSITION +=n
        
    
        return data, target
    
    def reset_position(self):
        self.POSITION = 0

In [75]:
p = project3tool()

In [76]:
p.get_data([1,2,3])

(      feat_0000  feat_0001  feat_0002  feat_0003  feat_0004  feat_0005  \
 yoda
 1      2.836983   0.468780  -3.557848   0.253684   1.493863  -0.616160
 2      7.872049  -0.403441  -0.112700   1.381223   1.034884   0.902558
 3     -1.306599  -0.126873  -1.776510   0.430761   0.428714   0.579034

       feat_0006  feat_0007  feat_0008  feat_0009    ...      feat_4990  \
 yoda                                                ...
 1      0.006989   0.576280  -0.694593   1.965929    ...       0.127546
 2     -0.788522  -0.135428   0.575735  -0.770869    ...       0.001346
 3     -0.057546  -0.021347  -0.112300  -0.417874    ...      -0.969493

       feat_4991  feat_4992  feat_4993  feat_4994  feat_4995  feat_4996  \
 yoda
 1     -0.804609   1.053465  -1.142528  -0.850633  -0.456611  -1.368771
 2      0.511870   0.011579  -1.631434   0.199908  -1.075231  -1.192241
 3     -0.486911   0.510224  -0.525300   1.433065   0.514432  -0.874046

       feat_4997  feat_4998  feat_4999
 yoda
 1     -0.121254   1.839091  -0.385779
 2      0.235938  -0.707320  -0.088669
 3      0.740881   0.551109  -0.955274

 [3 rows x 5000 columns],       target
 yoda
 1          1
 2          1
 3          1)

In [77]:
p.load_sequential(n=5)

(      feat_0000  feat_0001  feat_0002  feat_0003  feat_0004  feat_0005  \
 yoda
 0     -6.890580   1.898045  -0.081773  -0.211159  -1.899610   0.602261
 1      2.836983   0.468780  -3.557848   0.253684   1.493863  -0.616160
 2      7.872049  -0.403441  -0.112700   1.381223   1.034884   0.902558
 3     -1.306599  -0.126873  -1.776510   0.430761   0.428714   0.579034
 4     -2.607775   1.603122   0.181388  -1.714153  -1.498501   0.501507

       feat_0006  feat_0007  feat_0008  feat_0009    ...      feat_4990  \
 yoda                                                ...
 0      1.257378   1.106597  -0.911746  -0.378782    ...      -0.971490
 1      0.006989   0.576280  -0.694593   1.965929    ...       0.127546
 2     -0.788522  -0.135428   0.575735  -0.770869    ...       0.001346
 3     -0.057546  -0.021347  -0.112300  -0.417874    ...      -0.969493
 4     -1.101622  -0.690756   1.085934  -0.156181    ...      -0.785567

       feat_4991  feat_4992  feat_4993  feat_4994  feat_4995  feat_4996  \
 yoda
 0      0.779660  -1.002319  -1.064847  -1.579634  -1.483756   0.469772
 1     -0.804609   1.053465  -1.142528  -0.850633  -0.456611  -1.368771
 2      0.511870   0.011579  -1.631434   0.199908  -1.075231  -1.192241
 3     -0.486911   0.510224  -0.525300   1.433065   0.514432  -0.874046
 4      0.150381  -1.157627   1.464807  -0.673677  -1.639545   0.860970

       feat_4997  feat_4998  feat_4999
 yoda
 0     -1.504564  -0.562759   2.128202
 1     -0.121254   1.839091  -0.385779
 2      0.235938  -0.707320  -0.088669
 3      0.740881   0.551109  -0.955274
 4     -0.097254   0.339448  -1.349059

 [5 rows x 5000 columns],       target
 yoda
 0          0
 1          1
 2          1
 3          1
 4          1)

In [78]:
p.load_sequential(n=10)

(      feat_0000  feat_0001  feat_0002  feat_0003  feat_0004  feat_0005  \
 yoda
 10    -5.801925   0.439438  -0.356751  -1.982038  -0.581173  -0.014606
 11    -5.233052   0.268431  -0.027052  -1.726165   0.507615  -0.971806
 12     3.446826   0.159899  -2.366513  -0.840647   0.816073   0.054734
 13    -1.845775   0.218009  -0.576930   0.273524  -0.833092   0.441670
 14    -1.907224  -1.249405   0.149745  -0.655946  -0.064271  -0.944549
 15     2.445022  -0.588875   1.241076   0.247915  -1.286078   0.255282
 16    -1.182019   0.461506  -1.241509  -0.800396   1.839876  -0.209792
 17    -0.651212   2.033381   1.793011   0.910166   1.017687   1.662920
 18    -0.457177   0.290030   0.576179  -1.610049  -0.247709  -0.381459
 19     1.300128   0.409136  -0.594941   0.242888   1.013736   0.348396

       feat_0006  feat_0007  feat_0008  feat_0009    ...      feat_4990  \
 yoda                                                ...
 10    -0.862536  -1.026256   0.909536  -0.572204    ...       0.979385
 11     0.087082  -0.230748  -1.239514   0.493251    ...      -0.627332
 12     0.628948   0.147335  -0.217512  -0.708545    ...      -1.242785
 13    -0.129321   0.283967   0.606651   0.000779    ...       1.099365
 14    -0.851590  -0.638722  -0.627529  -0.774123    ...      -1.874129
 15    -1.704355  -1.585273  -0.401216   0.518218    ...      -0.193670
 16     0.031875   0.163019   0.622967  -0.324272    ...       0.832690
 17    -0.369326  -1.472486  -0.630752   1.340601    ...       0.225508
 18    -0.384608   0.647763   0.055872   0.700103    ...      -0.066047
 19    -0.069503   0.640314   1.988610   0.084409    ...       1.271079

       feat_4991  feat_4992  feat_4993  feat_4994  feat_4995  feat_4996  \
 yoda
 10     0.385326  -0.080820   0.114897   1.639061   0.653551  -0.191052
 11    -0.339675  -0.230333   1.160601   0.224828   0.530157  -0.112533
 12    -1.498861   0.025872  -0.332694   0.216485   1.096309   1.075742
 13     0.436215  -1.140123   0.017090   0.291896  -0.074320   1.336399
 14     0.292358   0.144196  -0.960849   0.588050  -2.041249  -0.566151
 15     0.761931  -0.114136   1.109599  -1.892525   1.332463   0.600149
 16    -1.061826  -0.103056  -1.135697  -0.651794   0.627743  -0.366511
 17    -0.445130   0.385047  -0.751613   0.551425  -0.103948   0.111444
 18    -0.892687  -0.316441   1.905715   0.229826  -1.137012  -0.316986
 19    -0.372683   0.396161   2.435052   0.589865  -0.550421  -0.566983

       feat_4997  feat_4998  feat_4999
 yoda
 10     0.971843   0.520672  -0.535432
 11    -0.310450   0.502062  -1.603831
 12     0.350953   0.415858  -0.077368
 13    -0.320240   0.240230  -1.401876
 14    -0.034650  -0.241176  -0.335170
 15     1.110877   1.299077   1.168716
 16     0.262095  -0.582845   0.851397
 17    -2.022162   1.593620  -1.705416
 18     0.960037  -0.020215  -1.125775
 19     0.002360   0.359054   0.044488

 [10 rows x 5000 columns],       target
 yoda
 10         0
 11         0
 12         0
 13         0
 14         0
 15         1
 16         1
 17         0
 18         0
 19         0)

In [79]:
p = project3tool()

In [80]:
from sklearn.preprocessing import StandardScaler

In [82]:
while p.POSITION < 500:
    scaler=StandardScaler()
    data, target = p.load_sequential()
    scaler.partial_fit(data)
    print(p.POSITION)

400
600

In [83]:
p.COUNT

220000

In [84]:
scaler.mean_

array([ 0.123651  , -0.02402638, -0.11457782, ...,  0.12474507,
       -0.06037614,  0.09704351])

In [87]:
scaler.scale_

array([ 4.12980595,  1.0267818 ,  1.03687979, ...,  0.98686858,
        0.95646347,  0.93000137])

In [88]:
from sklearn.decomposition import IncrementalPCA

In [89]:
p.reset_position()

In [93]:
ipca=IncrementalPCA(n_components=50)

In [94]:
while p.POSITION < 500:
    scaler=StandardScaler()
    data, target = p.load_sequential(n=100)
    ipca.partial_fit(data)
    print(p.POSITION)

240
440
640

In [100]:
ipca.explained_variance_ratio_

array([ 0.05199838,  0.04765862,  0.04452629,  0.03889619,  0.03779774,
        0.036774  ,  0.03534152,  0.03302661,  0.03189357,  0.03101234,
        0.02993744,  0.02807411,  0.02608479,  0.02576226,  0.02393152,
        0.02358637,  0.02266962,  0.02234929,  0.02018346,  0.01958121,
        0.01859444,  0.01794559,  0.01668456,  0.01564404,  0.01455843,
        0.01442994,  0.01419577,  0.01348464,  0.01328727,  0.01193894,
        0.01171093,  0.01140815,  0.01022363,  0.0099311 ,  0.00908707,
        0.00857607,  0.00764072,  0.00731372,  0.00705968,  0.00640119,
        0.00634844,  0.00607065,  0.00538446,  0.00527031,  0.00469591,
        0.00450535,  0.00418646,  0.00403664,  0.00355017,  0.00314882])

In [102]:
c0 = list(zip(data.columns, ipca.components_[0]))

In [104]:
c0.sort(key=lambda x: abs(x[1]), reverse=True)

In [105]:
c0[-50]

('feat_2727', 1.4141803461940276e-05)

In [95]:
steps[1] = ('pca',ipca)

NameError: name 'steps' is not defined

In [96]:
from sklearn.linear_model import LogisticRegression

In [97]:
lr = LogisticRegression(penalty='l1', C = 5, warm_start=True)

In [98]:
p.reset_position()

In [101]:
while p.POSITION < 500:
    scaler=StandardScaler()
    data, target = p.load_sequential(n=100)
    lr.fit(data.values, target.values)
    print(p.POSITION)

/opt/conda/lib/python3.5/site-packages/sklearn/utils/validation.py:526: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

400
600

In [108]:
lr.coef_[lr.coef_>0]

array([ 0.12812935,  0.00917368,  0.13638624,  0.0778494 ,  0.11878684,
        0.03912059,  0.02077412,  0.01892413,  0.06884793,  0.03693613,
        0.20904146,  0.03366215,  0.12117795,  0.50443123,  0.14089099,
        0.11073418,  0.04247683,  0.8229803 ,  0.02451133,  0.02895009,
        0.02340871,  0.18163055,  0.07708672,  0.02601854,  0.49814095,
        0.08047096,  0.02250821,  0.10198115,  1.06066832])